<!DOCTYPE html>
<html>
  <head>
    <title>eqData</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>email</h1>
    <p>address <%= address %></p>
    <p>sw <%= sw %></p>
    <p>resetFlg <%= resetFlg %></p>
  </body>
</html>
