<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <h6>Welcome to <%= title %><br>
    <p>test server</p>
    <p>ver.1.0.0.0</p></h6>
    <article>
      <ui>
        <li><a href="/data/print">マンホールデータ一覧</a></li>
        <li><a href="/data/view">view</a></li>
        <li><a href="/data/update">upDate</a></li>
        <li><a href="/data">data</a></li>
        <li><a href="/eq/data">eqData</a></li>
        <li><a href="/eq/para/update">eqDataUpdate</a></li>
      </ui>      
    </article>
    <hr>
    <address>
      <h6>
        <p><a href="http://www.fando.co.jp">株式会社　エフ・アンド・オー・システムズ</a></p>
      </h6>
    </address>
  </body>
</html>