<!DOCTYPE html>
<html>
  <head>
    <title>eqData</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>eqData</h1>
    <p>url <%= url %></p>
    <p>kokiNum <%= kokiNum %></p>
    <p>press <%= press %></p>
  </body>
</html>
