<!DOCTYPE html>
<html lang="ja">
  <head>
     <title>eqDataUpdate</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 <body class="container">
  <header>
    <h1 class="display-4">
      eqDataUpdate</h1>
  </header>
  <div role="main">
    <form method="post" action="/eq/para/post">
      <div class="form-group">
        <label for="kokiNum">kokiNum:</label>
        <input type="text" name="kokiNum" id="kokiNum" value=<%= kokiNum %>
          class="form-control">
      </div>
      
       <div class="form-group">
        <label for="url">url:</label>
        <input type="text" name="url" id="url" value=<%= url %>
          class="form-control">
      </div>
      
       <div class="form-group">
        <label for="press">press:</label>
        <input type="text" name="press" id="press" value=<%= press %>
          class="form-control">
      </div>
      
       <div class="form-group">
        <label for="email">email:</label>
        <input type="text" name="email" id="email" value=<%= email %>
          class="form-control">
      </div>
      
      
      
      <input type="submit" value="TX" 
        class="btn btn-primary">
    </form>
  </div>
</body>
</html>