<!DOCTYPE html>
<html lang="ja">
  <head>
     <title>data/update</title>
     
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 <body class="container">
  <header>
    <h1 class="display-4">data/update</h1>
    <p><a href='/'>menu</a><br></p>
  </header>
  <div role="main">
    <form method="post" action="/data/post">
      <div class="form-group">
        <label for="oya">oya:</label>
        <input type="text" name="oya" id="oya" 
          class="form-control">
      </div>
      
      <div class="form-group">
        <label for="id">id</label>
        <input type="text" name="id" id="id" 
          class="form-control">
      </div>
      
      <div class="form-group">
        <label for="k0">k0</label>
        <input type="text" name="k0" id="k0" 
          class="form-control">
      </div>
      <div class="form-group">
        <label for="k0p1">k0p1</label>
        <input type="text" name="k0p1" id="k0p1" 
          class="form-control">
      </div>      
      <div class="form-group">
        <label for="k0p2">k0p2</label>
        <input type="text" name="k0p2" id="k0p2" 
          class="form-control">
      </div>

      

      <input type="submit" value="TX" 
        class="btn btn-primary">
    </form>
  </div>
</body>
</html>