<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <h1><%= title %></h1>
     <table class="table">
      <% for(var key in message_data) { %>
      <tr>
        <th><%= key %></th>
        <td><%=message_data[key] %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
