<!DOCTYPE html>
<html lang="ja">
  <head>
     <title>paraUpdate</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 <body class="container">
  <header>
    <h1 class="display-4">
      paraUpdate</h1>
  </header>
  <div role="main">
    <form method="post" action="/para/post">
      <div class="form-group">
        <label for="kokiNum">kokiNum:</label>
        <input type="text" name="kokiNum" id="kokiNum" value=<%= kokiNum %>
          class="form-control">
      </div>
      <input type="submit" value="TX" 
        class="btn btn-primary">
    </form>
  </div>
</body>
</html>